extends reader

block leftBlock
    a#left-link.left-block(data-async-link=true)
        i.icon-caret-left

block topBlock
    a#top-link.top-block(href='/')
        i.icon-caret-up

block centerBlock
    .center-block
        h3.title= channel.title
        .main-content
            ul.item-list
                each item in channel.items
                    li
                        a(href='/channel/'+channel.id+'/item/'+item.id)= item.title
                        span.pubdate= item.date


block rightBlock
    a#right-link.right-block(data-async-link=true)
        i.icon-caret-right
