extends reader

block leftBlock
    a#left-link.left-block(data-async-link=true)
        i.icon-caret-left

block topBlock
    a#top-link.top-block(href='/channel/'+item.source)
        i.icon-caret-up

block centerBlock
    .center-block
        h3#item-title.title= item.title
        p#item-info.info
            span#item-date.date= item.date
            a#item-link.link(href=item.link, target='_blank') ORIGIN
        #item-content.main-content!= item.content

block rightBlock
    a#right-link.right-block(data-async-link=true)
        i.icon-caret-right

append scripts
    script(src='/javascripts/item.js')