extends reader

block leftBlock
    //- a.left-block(href='/user/'+(user.id-1))
    //-     i.icon-caret-left

block topBlock
    a.top-block(href='/signout')
        i.icon-caret-up

block centerBlock
    .center-block
        h3.title= user.name
        .main-content
            if user.channels
                #subscribed-channels.cnt-block
                    h4.sub-title MY SUBSCRIPTION
                    if user.channels.length > 0
                        ul.item-list
                            each channel in user.channels
                                li(data-cid=channel.id)
                                    a(href='/user/'+user.id+'/channel/'+channel.id)= channel.title
                                        span.pubdate= channel.pubDate
                                    span.unsubscribe -
                    else
                        span none
            if channels
                #all-channels.cnt-block
                    h4.sub-title ALL CHANNELS
                    ul.item-list
                        each channel in channels
                            li(data-cid=channel.id)
                                a(href='/channel/'+channel.id)= channel.title
                                    span.pubdate= channel.pubDate
                                span.subscribe +


block rightBlock
    //- a.right-block(href='/user/'+(user.id+1))
    //-     i.icon-caret-right
