!!! 5
html
    head
        title= title
        meta(property='qc:admins', content='4505350012514525626100161736166357')
        link(rel="shortcut icon", href="#{DOMAINS.IMG}/favicon.ico")
        block stylesheets
            link(rel='stylesheet', href='#{DOMAINS.CSS}/stylesheets/css/global.css')
    body
        if user
            span#user-info(data-uid=user.id)
        block headerContent
        #body.body
            block content
        #footer.footer
            #floater.floater
                input#input.global-input(type='text')
                div.global-result
                    ul#tips.tips
                    ul#results.results
        #notice.notice
        block libs
            script(src='#{DOMAINS.JS}/javascripts/lib/lib.js')
        block scripts
